#listaConsultasId {
  border-collapse: collapse; /* Collapse borders */
  width: 100%;
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#listaConsultasId th, #listaConsultasId td {
  text-align: center; /* Left-align text */
  padding: 12px; /* Add padding */
}

#listaConsultasId tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

.listaDetalle tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

.cabecaraGeneral{
  background-color: #04AA6D;
}

.cabecaraEditarDetalle{
  background-color: cornflowerblue;
}

.cabecaraVerDetalle{
  background-color: chocolate;
}

#mainDivId{
  width: 90%; /* Full-width */
  margin: 5%;
}

#mainDivId button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.botonEliminar {
  background-color: red !important;
}

.botonEditar {
  background-color: cornflowerblue !important;
}

.botonVer {
  background-color: chocolate  !important;
}

#buscadorId{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  border: 2px solid #ddd; /* Add a grey border */
}

#buscadorId input{
  width: 80%;
}

