#listaConsultasId {
  border-collapse: collapse; /* Collapse borders */
  width: 90%; /* Full-width */
  margin: 5%;
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#listaConsultasId th, #listaConsultasId td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#listaConsultasId tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#listaConsultasId tr.header, #listaConsultasId tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}